.Homepage {
    text-align: center;
    background-color: #2E2E2E;
    position: absolute;
    top: 40px;
    bottom: 20px;
    width: 100%;
}

.title {
    color: #FFFFFF;
    font-size: xx-large;
}

.imageSize1 {
    width: 50%;
}